@import "vars";
@import "fonts";
@import "libs";




*,
*::after,
*::before {
    box-sizing: border-box;
}

ul,
h1,
h2,
h3 {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #fbfbfb;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 26px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-top: 200px;
    width: 500px;
    box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.35);
}

.form-item{
    display: flex;
    input{
        padding: 12px 10px 12px 50px;
        font-style: italic;
        outline: none;
        border: 1px solid #a3a3a3;
        width: 100%;
        &::placeholder{
            opacity: .3;
        }
    }
    input[type=submit]{
        max-width: 100px;
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
    };
    
}
.form__btn{
    
}

.list{
    border-left: 1px solid #a3a3a3;
    border-right: 1px solid #a3a3a3;
    border-top: 2px solid #a3a3a3;
    &__item{
        padding: 0 0 0 20px;
        line-height: 55px;
        border-bottom: 1px solid #a3a3a3;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-text{
            margin-right: auto;
            margin-left: 20px;
        }
        &-del{
            display: inline-block;
            background-image: url(../img/delete-button-svgrepo-com.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            cursor: pointer;
            margin-right: 15px;
            margin-left: 15px;
        }
    }
}

.counter{
    border: 1px solid #a3a3a3;
    border-top: 0px;
    padding: 8px;
    padding-left: 30px;
    font-size: 18px;
}






@import "media";